@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #09090b;
  color: #f1f5f9;
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

/* Custom scrollbar pro hacker styl */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: #09090b;
}
::-webkit-scrollbar-thumb {
  background: #1e3a8a;
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background: #3b82f6;
}
